psf-fwhm=3
psf-pixelscale=1
detect-minarea=5
partition-min-area=10
partition-multithreshold=true
grouping-algorithm=SPLIT

checkimage-residual=check_residual.fits
checkimage-modelfitting=check_modelfitting.fits
checkimage-background=check_background.fits
checkimage-variance=check_variance.fits
checkimage-segmentation=check_segmentation.fits
checkimage-partition=check_partition.fits
checkimage-filtered=check_filtered.fits
checkimage-aperture=check_aperture.fits
