# This file is used to populate the initial configuration for the tests.
# Note that, when running the tests, the paths are relative to the test area.
# Unless explicitly said, the values correspond to the built-in defaults.
# Some may be overridden by the tests.
# You can use environment variables, including ${DATADIR}, which points to the data directory

log-level=DEBUG
log-file=sextractorxx.log

# Auto (Kron) photometry options
auto-kron-factor=2.5
auto-kron-minrad=3.5

# Background modelling
cellsize-value=64 
smoothing-box-value=3

# Detection image
#background-value=
threshold-value=1.5
segmentation-algorithm=LUTZ
segmentation-disable-filtering=false
segmentation-filter=${DATADIR}/sim09/default.conv
# detection-image (set by the tests)
# detection-image-gain
# detection-image-saturation
detection-image-interpolation=1
detection-image-interpolation-gap=5

# External flag options
#flag-image-*
#flag-type-*

# Extraction
detect-minarea=5 # Overriden to match SExtractor 2 default
# use-attractors-partition

# Grouping
grouping-algorithm=SPLIT

# Magnitude
magnitude-zeropoint=26

# Measurement config
# python-config-file (set by the tests)

# Memory usage
max-tile-memory=512
tile-size=256

# Model Fitting
model-fitting-iterations=1000

# Multi-threading
threads-nb=0 # Default is 4, overridden to remove multithreading

# Multi-thresholding
# partition-multithreshold
partition-thresholds-nb=32
partition-min-area=3
partition-min-contrast=0.005

# Output configuration
# output-file (set by the tests)
# output-file-format (set by the tests)
# output-properties (set by the tests)

# Plugin configuration
# plugin-directory
# plugin

# Variable PSF
# psf-file
psf-fwhm=3          # A PSF is required, but SExtractor++ has no defaults
psf-pixelscale=1    # A PSF is required, but SExtractor++ has no defaults

# Weight image
# weight-image
# weight-absolute
# weight-type
# weight-scaling
# weight-threshold
weight-usesymmetry=1

# Check images
checkimage-modelfitting=check_modelfitting.fits 
checkimage-residual=check_residual.fits
checkimage-background=check_background.fits
checkimage-variance=check_variance.fits
checkimage-segmentation=check_segmentation.fits
checkimage-partition=check_partition.fits
checkimage-filtered=check_filtered.fits
checkimage-auto-aperture=check_autoaperture.fits
checkimage-aperture=check_aperture.fits
