# This file is used to populate the initial configuration for the tests.
# Note that, when running the tests, the paths are relative to the test area.
# Unless explicitly said, the values correspond to the built-in defaults.
# Some may be overridden by the tests.
# You can use environment variables, including ${DATADIR}, which points to the data directory

log-level=INFO
log-file=sourcextractor.log

# Auto (Kron) photometry options
auto-kron-factor=2.5
auto-kron-min-radius=3.5

# Background modelling
background-cell-size=64
smoothing-box-size=3

# Detection image
#background-value=
detection-threshold=1.4953
segmentation-algorithm=LUTZ
segmentation-use-filtering=true
segmentation-filter=${DATADIR}/sim12/default.conv
# detection-image (set by the tests)
# detection-image-gain
# detection-image-saturation
detection-image-interpolation=1
detection-image-interpolation-gap=5

# Cleaning
use-cleaning=true # Overridden to match SExtractor 2 default
cleaning-minimum-area=10

# External flag options
#flag-image-*
#flag-type-*

# Extraction
detection-minimum-area=5 # Overridden to match SExtractor 2 default
# use-attractors-partition

# Grouping
grouping-algorithm=SPLIT

# Magnitude
magnitude-zero-point=32.19 # Overridden to match simulation (26 mag zeropoint, 300 exposure)

# Measurement config
# python-config-file (set by the tests)

# Memory usage
tile-memory-limit=512
tile-size=256

# Model Fitting
model-fitting-iterations=1000

# Multi-threading
thread-count=-1 # Default, autodetect

# Multi-thresholding
partition-multithreshold=true # Overridden to match SExtractor 2 behaviour
partition-threshold-count=32
partition-minimum-area=3
partition-minimum-contrast=0.005

# Output configuration
# output-catalog-filename (set by the tests)
# output-catalog-format (set by the tests)
# output-properties (set by the tests)

# Plugin configuration
# plugin-directory
# plugin

# Variable PSF
# psf-filename
psf-fwhm=3
psf-pixel-sampling=1

# Weight image
# weight-image
# weight-absolute
# weight-type
# weight-scaling
# weight-threshold
weight-use-symmetry=1

# Check images
#check-image-model-fitting=check_modelfitting.fits
#check-image-residual=check_residual.fits
#check-image-background=check_background.fits
#check-image-variance=check_variance.fits
#check-image-segmentation=check_segmentation.fits
#check-image-partition=check_partition.fits
#check-image-grouping=check_grouping.fits
#check-image-auto-aperture=check_autoaperture.fits
#check-image-aperture=check_aperture.fits

progress-bar=0
